@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #9790e1;
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;

  /* Fonts */
  --font-family-display: "Inter", sans-serif;

  /* Border Radius */
  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}

/* Material Symbols Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}